
body {
  font-family: 'Georgia', serif;
  margin: 0;
  padding: 0;
}


.menu-lateral {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #f4f4f4;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}


.menu-lateral ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-lateral ul li {
  margin-bottom: 20px;
}


.menu-lateral ul li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  padding: 10px;
  display: block;
  font-family: 'Trebuchet MS', sans-serif;
}


.menu-lateral ul li a:hover {
  background-color: #03ffe6;
  color: chocolate;
  font-weight: bold;
}


.contenido {
  margin-left: 220px; 
  padding: 20px;
  height: 100vh;
  overflow-y: auto; 
}


h1, h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: chocolate;
  background-color: #03ffe6;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}


li {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 10px;
}


.foto {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
  border-radius: 50%;
  width:200px; 
  height:200px;
}
