<div class="container mt-4">
  <h2 class="text-center">Lista de Clubes</h2>
  <div class="row mt-3">
    <div class="col-md-4 mb-3" *ngFor="let club of clubs">
      <div class="card text-bg-dark">
        <!-- <img [src]="club.imagen" class="card-img-top" alt="Imagen de {{ club.nombre }}"> -->
        <div class="card-body">
          <h5 class="card-title">{{ club.nombre }}</h5>
          <p class="card-text"><strong>Fundación:</strong> {{ club.fundacion }}</p>
          <p class="card-text"><strong>País:</strong> {{ club.pais }}</p>
          <p class="card-text"><strong>Estadio:</strong> {{ club.estadio }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
