/* app.component.css */
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el contenedor principal tenga al menos la altura de la ventana */
}

router-outlet {
  flex: 1; /* Esto asegura que el contenido dentro de router-outlet ocupe el espacio disponible */
}

app-footer {
  /* Estilos para tu footer */
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  width: 100%;
}
