<nav class="shadow navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <!-- Sección izquierda: Logo + Clubs -->
    <a class="navbar-brand d-flex align-items-center" routerLink="/">
      <img src="/assets/logo.png" alt="Logo" width="60" height="60" class="me-2">
    </a>
    <a class="navbar-brand text-light fw-semibold" routerLink="/clubs">Clubes</a>
    <a class="navbar-brand text-light fw-semibold" routerLink="/misFutbolistas">Mis Futbolistas</a>
    <a class="navbar-brand text-light fw-semibold" routerLink="/backend">Backend</a>


    <!-- Botón para móviles -->
    <button class="navbar-toggler border-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Sección derecha: Login + Registro -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <!-- Mostrar los botones de Login e Iniciar Sesión si no hay usuario autenticado -->
        <li class="nav-item" *ngIf="!usuario">
          <a class="btn btn-outline-light me-2 fw-semibold" routerLink="/login">Login</a>
        </li>
        <li class="nav-item" *ngIf="!usuario">
          <a class="text-white btn btn-primary fw-semibold" routerLink="/registro">Iniciar Sesión</a>
        </li>

        <!-- Mostrar el nombre del usuario y un botón de logout si está autenticado -->
        <li class="nav-item" *ngIf="usuario">
          <span class="navbar-text text-light me-3 fs-5">
            Hola, {{ usuario.nombre }}
          </span>
        </li>
        <li class="nav-item" *ngIf="usuario">
          <a class="px-4 py-2 btn btn-outline-light me-2 fw-semibold rounded-3" href="#" (click)="cerrarSesion()">
            Cerrar Sesión
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>
