<!DOCTYPE html>
<html lang="es">

<body>
  <div class="container mt-5 text-center">
    <h1 class="mb-4">Bienvenido al Proyecto de Fútbol</h1>
    <p class="lead">Explora estadísticas, equipos y más.</p>
    <div class="gap-3 mb-3 d-flex justify-content-center">
      <a routerLink="/matches" class="btn btn-primary">Ver Partidos</a>
      <a routerLink="/teams" class="btn btn-secondary">Ver Equipos</a>
    </div>
  </div>
  <div class="container">
    <h2>Lista de Usuarias</h2>
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Email</th>
          <th>Admin</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuaria of usuarias">
          <td>{{ usuaria.id }}</td>
          <td>{{ usuaria.nombre || "N/A" }}</td>
          <td>{{ usuaria.email }}</td>
          <td>{{ usuaria.pais }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>