<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Proyecto de Fútbol</title>
</head>

<body>
  <div class="container mt-5 text-center">
    <h1 class="mb-4">Bienvenido al Proyecto de Fútbol</h1>
    <p class="lead">Explora estadísticas, equipos y más.</p>
    <div class="gap-3 mb-3 d-flex justify-content-center">
      <a routerLink="/matches" class="btn btn-primary">Ver Partidos</a>
      <a routerLink="/teams" class="btn btn-secondary">Ver Equipos</a>
    </div>
  </div>
  <div class="top-0 m-3 position-absolute end-0">
    <a href="/login" class="btn btn-outline-dark">Iniciar Sesión</a>
    <a href="/registro" class="btn btn-outline-success">Registrarse</a>
  </div>

</body>

</html>