h1,
h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: chocolate;
  background-color: #03ffe6;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

li {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 10px;
}

.foto {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 200px;
  height: 200px;
}
