<div class="container mt-4">
  <h2 class="mb-4 text-center">Lista de Clubes</h2>
  <div class="mb-2 text-center">
    <button class="btn btn-success" (click)="insertarClub()">Insertar Club</button>
  </div>
  <div class="table-responsive">
    <table class="table text-center align-middle table-striped table-bordered">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>País</th>
          <th>Fundación</th>
          <th>Estadio</th>
          <th>Imagen</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let club of clubs">
          <td>{{ club.id }}</td>
          <td>{{ club.nombre }}</td>
          <td>{{ club.pais }}</td>
          <td>{{ club.fundacion }}</td>
          <td>{{ club.estadio }}</td>
          <td>
            <img [src]="'data:image/png;base64,' + club.imagen" class="img-thumbnail"
              style="width: 80px; height: 80px; object-fit: cover;" alt="Imagen de {{ club.nombre }}">
          </td>
          <td>
            <button class="btn btn-warning me-2">Editar</button>
            <button class="btn btn-danger" (click)="eliminarClub(club.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <h2 class="my-4 text-center">Lista de Futbolistas</h2>
  <div class="mb-2 text-center">
    <button class="btn btn-success">Insertar Futbolista</button>
  </div>
  <div class="table-responsive">
    <table class="table text-center align-middle table-striped table-bordered">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Fecha de Nacimiento</th>
          <th>Edad</th>
          <th>Nacionalidad</th>
          <th>Usuario</th>
          <th>Club</th>
          <th>Imagen</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let futbolista of futbolistas">
          <td>{{ futbolista.id }}</td>
          <td>{{ futbolista.nombre }}</td>
          <td>{{ futbolista.fecha_nac }}</td>
          <td>{{ futbolista.edad }}</td>
          <td>{{ futbolista.nacionalidad }}</td>
          <td>{{ futbolista.Usuario }}</td>
          <td>{{ futbolista.Club }}</td>
          <td>
            <img [src]="'data:image/png;base64,' + futbolista.imagen" class="img-thumbnail"
              style="width: 80px; height: 80px; object-fit: cover;" alt="Imagen de {{ futbolista.nombre }}">
          </td>
          <td>
            <button class="btn btn-warning me-2">Editar</button>
            <button class="btn btn-danger" (click)="eliminarFutbolista(futbolista.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>



  <h2 class="my-4 text-center">Lista de Posiciones Asignadas</h2>
  <div class="mb-2 text-center">
    <button class="btn btn-success">Insertar Posición Asignada</button>
  </div>
  <div class="table-responsive">
    <table class="table text-center align-middle table-striped table-bordered">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Futbolista</th>
          <th>Posición</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let posiciones of posiciones">
          <td>{{ posiciones.id }}</td>
          <td>{{ posiciones.Futbolista }}</td>
          <td>{{ posiciones.Posicion }}</td>
          <td>
            <button class="btn btn-warning me-2">Editar</button>
            <button class="btn btn-danger" (click)="eliminarPosicion(posiciones.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <h2 class="my-4 text-center">Lista de Posiciones</h2>
  <div class="mb-2 text-center">
    <button class="btn btn-success">Insertar Posición</button>
  </div>
  <div class="table-responsive">
    <table class="table text-center align-middle table-striped table-bordered">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let posiciones2 of posiciones2">
          <td>{{ posiciones2.id }}</td>
          <td>{{ posiciones2.Nombre }}</td>
          <td>
            <button class="btn btn-warning me-2">Editar</button>
            <button class="btn btn-danger" (click)="eliminarPosicion(posiciones2.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="container mt-4">
  <h2 class="mb-4 text-center">Lista de Usuarios</h2>
  <div class="mb-2 text-center">
    <button class="btn btn-success" (click)="insertarUsuario()">Insertar Usuario</button>
  </div>
  <div class="table-responsive">
    <table class="table text-center align-middle table-striped table-bordered">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Sexo</th>
          <th>País</th>
          <th>Aficiones</th>
          <th>Admin</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuario">
          <td>{{ usuario.id }}</td>
          <td>{{ usuario.email }}</td>
          <td>{{ usuario.nombre }}</td>
          <td>{{ usuario.apellidos }}</td>
          <td>{{ usuario.sexo }}</td>
          <td>{{ usuario.pais }}</td>
          <td>{{ usuario.aficiones }}</td>
          <td>{{ usuario.admin ? 'Sí' : 'No' }}</td>
          <td>
            <a class="btn btn-warning me-2" (click)="editarUsuario(usuario.id)">Editar</a>
            <button class="btn btn-danger" (click)="eliminarUsuario(usuario.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>