// _borders.scss
$border-radius-lg: 0.375rem;  // Borde redondeado en pantallas grandes
$border-radius-sm: 0;  // Borde cuadrado en pantallas pequeñas

* {
    border-radius: $border-radius-sm;  // Por defecto borde cuadrado
}

@media (min-width: 992px) {
    * {
        border-radius: $border-radius-lg;  // Borde redondeado en pantallas grandes
    }
}
