// _typography.scss
$font-primary: 'Arial', sans-serif;
$font-secondary: 'Helvetica', sans-serif;

body {
    font-family: $font-primary;
    font-size: 16px;
}

h5.card-title, .navbar-nav .nav-link {
    font-family: $font-secondary;
}

@media (max-width: 767px) {
    body {
        font-size: 14px;  // Disminuir tamaño en dispositivos pequeños
    }
}
