<div *ngIf="futbolistas.length > 0; else noFutbolistas">
  <h2 class="text-center text-white">Mis Futbolistas</h2>
  <div class="row">
    <div class="col-md-4" *ngFor="let futbolista of futbolistas">
      <div class="mb-4 text-white shadow-sm card bg-dark d-flex flex-column align-items-center">
        <div class="card-img-top-container d-flex justify-content-center">
          <img *ngIf="futbolista.imagen"
               [src]="'data:image/png;base64,' + futbolista.imagen"
               class="fixed-size"
               alt="Imagen de {{ futbolista.nombre }}">
        </div>
        <div class="text-center card-body">
          <h5 class="card-title">{{ futbolista.nombre }}</h5>
          <p class="card-text">
            <strong>Fecha de nacimiento:</strong> {{ futbolista.fecha_nac }}<br>
            <strong>Nacionalidad:</strong> {{ futbolista.nacionalidad }}<br>
            <strong>Edad:</strong> {{ futbolista.edad }}<br>
            <strong>Club:</strong> {{ futbolista.Club }}<br>
            <strong>Usuario:</strong> {{ futbolista.Usuario }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Mostrar mensaje si no hay futbolistas -->
<ng-template #noFutbolistas>
  <p class="text-center text-white">No se encontraron futbolistas para este usuario.</p>
</ng-template>
